/*colors*/
:root {
  --black: #0A0A0F;
  --cyan: #00B4D8;
  --white: #F8F9FA;
  --void: #1A1A2E;
  --space: #16213E;
  --royal: #0F3460;
  --aqua: #00F5D4;
  --coral: #FF6B6B;
  --yellow: #FFD93D;
  --Teal: #95E1D3;
  --gray: #ADB5BD;
  --purple: #6C63FF;
  --green: #2EC4B6;
  --orange: #FF9F1C;
  --crimson: #E71D36;
  --glass-text: #8a99ad;
  --electric: #3B82F6;
}
/*colors end*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fa {
    color: #00F0FF; /* Your signature cyan */
    font-size: 1rem;
    text-shadow: 0 0 10px rgba(0, 240, 255, 0.5); /* Glow effect */
}

body {
    font-family: 'Inter', 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
  background: var(--black);
  justify-content: center;
  line-height: 1.6;
  align-items: center;
  text-align: left;
  min-height: 100vh;
}

/*navigation*/
nav {
    position: fixed;
  padding: 5px;
  background: rgba(10,10,15,0.8);
  backdrop-filter: blur(10px);
  z-index: 100;
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
  width: 100%;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--cyan);
    cursor: pointer;
}

nav li:first-child{
    margin-right: auto;
}
ul > .navhover:after{
    content: '';
    width: 0;
    height: 1.5px;
    background: var(--cyan);
   display: block; 
   margin-left: 7px;
     transition: 0.5s;
}
ul > .navhover:hover:after{
    width: 30px;
    display: block;
      transition: 0.5px;
}
ul > .hidesidebar:after{
    content: '';
    width: 0;
    height: 1.5px;
    background: var(--cyan);
   display: block; 
   margin: auto;
   transition: 0.5s;
}
ul > .hidesidebar:hover:after{
    width: 30px;
    display: block;
    transition: 0.5px;
}
.hidesidebar{
    text-align: left;
}
.works{
    color: #F8F9FA;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: auto;
    width: 200px;
    z-index: 999;
    background: rgba(10,10,15,1.5);
  backdrop-filter: blur(10px);
    box-shadow: 15px 0 15px rgba(0,0,0,0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 9px 0 0 9px;
  animation: slideIn 0.5s ease;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
/*navigation ends*/

button > box {
    background: linear-gradient(135deg, #7B2FFF 0%, #00D4FF 100%);
    color-scheme: var(--coral);
}
button:active {
  transform: scale(0.95);
}

@media (min-width: 600px) {
    .menu-botton{
    display: none;
        padding: 0;
        top: 0;
        bottom: 0;
        right: 0;
        padding-block: 15px;
        position: fixed;
        cursor: pointer;
    }
.arrow{
    position: fixed;
    cursor: pointer;
}

}
@media(max-width: 599px) {
    .hidesidebar{
        display: none;
        cursor: pointer;
    }
    .menu-botton{
        display: block;
        padding: 0;
        top: 0;
        bottom: 0;
        padding-block: 15px;
        right: 0;
        position: fixed;
        cursor: pointer;
    }
}
.reload{
    font-size: 22px;
    font-weight: 800;
    padding: 0;
}
@keyframes slideIn {
  from { transform: translateX(100%); opacity: 0; }
}
.alignment{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.shade{
    display: flex;
    flex-direction: column;
   align-items: center;
   text-align: center;
   padding: 70px 20px;
   padding-bottom: 15px;
}
.shade p{
    font-size: 14px;
    color: var(--cyan);
    font-weight: bold;
}
.shade h1{
    font-weight: 1000;
    font-size: 45px;
}
.shade div{
    width: 150.5px;
    height: 150.5px;
    border-radius: 160% 80% 160% 80% / 80% 160% 80% 160%;
    background: linear-gradient(255deg, rgba(76, 176, 253, 0.7), rgba(0, 174, 248, 0.4));
    
    border: 1.5px solid var(--royal);
    align-items: center;
    display: flex;
    margin-bottom: 20px;
    position: relative;
    justify-content: center;
    backdrop-filter:  blur(12px);
    box-shadow: 0 0 120px rgba(0, 242, 254, 0.1);
}

.victorimg{
    height: 135px;
    width: 135px;
    border-radius: 30%;
    object-fit: cover;
    border: 3px solid var(--Teal);
    background-color: var(--black);
}
.avatar{
    width: 100%;
    justify-content: center;
    display: flex;
    gap: 15px;
}
.aang{
    border-radius: 25px;
    padding: 8px 20px;
    font-size: 0.9rem;
    font-weight: 600;
    transition: 0.3s ease;
    color: var(--white);
    text-decoration: none;
}
.toph{
    border: 0.5px solid var(--cyan);
    background: transparent;
}
.kitara{
    border: 1px solid var(--cyan);
    background: linear-gradient(370deg, rgba(79, 172, 254, 0.3), var(--royal) 11px, var(--aqua) 160.5%, rgba(0, 242, 254, 0.3));
}
.aang:hover{
        box-shadow: 0 0 15px rgba(0, 242, 254, 0.3);
        transform: translateY(-2px);
         cursor: pointer;
}
.flyer-div{
    padding: 50px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.flyer-text{
    font-weight: 700;
    font-size: 25px;
}
.flyer{
    height: auto;
    max-width: 280px;
    border: 0.5px solid var(--royal);
    background: rgba(25, 30, 45, 0.45);
    transition: 0.3s ease;
    backdrop-filter:  blur(12px);
  border-radius: 16px;
  padding: 24px;
  text-align: left;
  display: flex;
  flex-direction: column;
    
}
.worker{
    color: var(--cyan);
}
.flyer .text{
    font-weight: 800;
    font-size: 12px;
}
.flyer:hover{
        box-shadow: 0 0 15px rgba(0, 242, 254, 0.5);
        transform: translateY(-2px);
         cursor: pointer;
}
.flyer-top{
    width: 35%;
    border-radius: 10px;
    white-space: nowrap;
    border: 0.3px solid var(--cyan);
    text-decoration: none;
    color: var(--white);
    font-weight: 700;
    font-size: 10px;
    background: linear-gradient(45deg, var(--royal) 4px, var(--cyan) 150px);
    transition: 0.3s ease;
    text-align: center;
    margin: -20px 0 0 70%;
    
}
.flyer-top:hover{
    box-shadow: 0 0 15px rgba(0, 242, 254, 0.2);
        transform: translateY(-1.5px);
         cursor: pointer;
}
.sokka{
    font-size: 1.5rem;
    margin: 5px 0 5px 0;
    font-weight: 800;
}
.flyer-tag{
    font-size: 11px;
    font-weight: 500;
    text-shadow: 0 0 10px rgba(0, 240, 255, 0.5);
}

.flyer-details{
    display: flex;
    padding: 12px;
    min-height: 300px;
    gap: 20px;
    width: 250px;
    margin-left: -7px;
    flex-wrap: wrap;
}
.flyer-details .box{
    border: 1px solid rgba(255, 255, 255, 0.08);
    background: linear-gradient(45deg, var(--space) 30%, var(--cyan) 250%);
    border-radius: 10px;
    height: auto;
    width: 100px;
    padding: 5px 0 0 20px;
      box-shadow: 0 5px  5px 0 var(--royal);
  backdrop-filter: blur(50px);
}
.box p{
    font-size: 13px;
    font-weight: 800;
    color: var(--cyan);
}
.box li{
    padding: 2px 0 0 0;
    font-size: 11px;
    color: var(--white);
    font-weight: 500;
}
.french{
    width: 100%;
    color: var(--white);
    text-decoration: none;
    border: 1px solid var(--cyan);
    background: linear-gradient(4deg, var(--royal) 20%, var(--aqua) 150%);
    text-align: center;
    border-radius: 25px;
    padding: 8px 20px;
    font-size: 0.9rem;
    font-weight: 600;
    transition: 0.3s ease;
}
.french:hover{
        box-shadow: 0 0 15px rgba(0, 242, 254, 0.3);
        transform: translateY(-2px);
         cursor: pointer;
}
.suri{
    color: var(--cyan);
}
.piller{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  padding: 24px;
  max-width: auto;
  backdrop-filter: blur(12px); /* Blurred glass effect */
}
.pillar-tag{
    font-size: 13px;
    color: var(--cyan);
}
.piller-veya{
    color: var(--glass-text);
  font-size: 0.85rem;
  line-height: 1rem;
  font-weight: 500;
  
}
.piller-phase{
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 900;
    margin: 0 0 3px 0;
}
.piller-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    justify-content: center;
    min-width: 110%;
}
.pillers-text{
    text-align: left;
  display: flex;
  background: rgba(25, 30, 45, 0.45);
  border: 1px solid rgba(255, 255, 255, 0.08);
  flex-direction: column;
  border-radius: 10px;
    height: 130px;
    width: 109px;
    padding: 5px 0 0 20px;
  backdrop-filter: blur(50px);
}
.pillers-text h3{
    font-size: 1.1rem;
  margin: 0 0 1px 0;
  font-weight: 600;
}
.pillers-text p{
    color: var(--glass-text);
  font-size: 0.65rem;
  line-height: 1.3;
  margin: 0 0 2px 0;
}
.pillers-text.grind{
    border: 1.5px solid var(--royal);
    backdrop-filter: blur(50pc);
    box-shadow: 0 5px 10px 0.5px var(--royal);
}
.pillers-text:hover{
    border: 1.5px solid var(--royal);
    backdrop-filter: blur(50pc);
    box-shadow: 0 5px 10px 0.5px var(--royal);
}
.pillers-text.grind:hover{
    background: rgba(25, 30, 45, 0.45);
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: none;
}
.pillar-icon{
    color: var(--electric);
  filter: drop-shadow(0 0 10px rgba(0, 160, 255, 0.5));
  filter: drop-shadow(0 0 10px rgba(0, 160, 255, 0.5));
}
footer{
    display: flex;
    bottom: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 5%;
    border-top: 1px solid var(--void);
    color: var(--glass-text);
    font-size: 14px;
}
.footer-image{
    height: 25px;
    width: 25px;
}
.footer-label{
    font-weight: 700;
    font-size: 20px;
    color: var(--white);
}
.f-label{
    display: flex;
    flex-direction: nowrap;
    margin: 0 0 10px 0;
    cursor: pointer;
}
footer p{
    font-size: 15px;
    font-weight: 500;
    color: var(--glass-text);
}
.f-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}
.f-bottom.way{
     font-size: 14px;
    color: #888;
    font-weight: 400;
}
.vw{
    text-decoration: none;
}
.unknown{
    box-shadow: 0 0 155px rgba(0, 242, 254, 0);
}